<div>
    <div class="pizza_order">
        <div class="pizza_inf container">
            <% var sizeStr;
            if(size =="big_size")
                sizeStr="Велика"
            else
                sizeStr="Мала"%>
            <h3 class="pizza_name"><%= pizza.title %> (<%= sizeStr %>)</h3>
            <div class="pizza_features row">
                <span class="col-xs-3"><img src="assets/images/size-icon.svg" class="icon"><%= pizza[size].size %></span>
                <span class="col-xs-4"><img src="assets/images/weight.svg" class="icon"><%= pizza[size].weight %></span>
            </div>
            <div class="pizza_options row">
                <%var allPrice =pizza[size].price*quantity %>
                <div class="price"><span><%=allPrice %> грн.</span></div>
                <div class="plusMin">
                    <span class=" quantity label"><%= quantity %></span>
                </div>
            </div>
        </div>
        <div class="pizza_photo"><img src=<%= pizza.icon%>></div>
    </div>
</div>
